<section class="progress-bar">
  <div class="container">
      <div class="row">
          <div class="col-12 col-lg-6 title">
              <h6>2017 Tax Preparation</h6>
          </div>
          <div class="col-12 col-lg-6 steps">
              <ul>
                  <li class="completed"><span class="circle"><i class="material-icons">done</i></span>
                      <ul>
                          <li class="section">Section 1</li>
                          <li class="completed">
                              <a href="#"><span class="circle"></span> Completed Step</a>
                          </li>
                          <li class="completed">
                              <a href="#"><span class="circle"></span> Completed Step</a>
                          </li>
                          <li class="completed">
                              <a href="#"><span class="circle"></span> Completed Step</a>
                          </li>

                      </ul>
                  </li>
                  <li class="incomplete"><span class="circle">-3</span>
                      <ul>
                          <li class="section">Section 2</li>
                          <li class="completed">
                              <a href="#"><span class="circle"></span> Completed Step</a>
                          </li>
                          <li class="incomplete">
                              <a href="#"><span class="circle">-3</span> Incomplete Step</a>
                          </li>
                          <li class="completed">
                              <a href="#"><span class="circle"></span> Completed Step</a>
                          </li>
                      </ul>
                  </li>
                  <li class="current">
                      <div class="relative-box">
                          <i class="w40">percentage</i>
                          <span class="circle">
                              Section name
                          </span>
                      </div>
                      <ul>
                          <li class="section">Section 3</li>
                          <li class="completed">
                              <a href="#"><span class="circle"></span> Completed Step</a>
                          </li>
                          <li class="current">
                              <span class="linkless"><span class="circle"></span> Current Step</span>
                          </li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                      </ul>
                  </li>
                  <li class="pending"><span class="circle"></span>
                      <ul>
                          <li class="section">Section 4</li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                      </ul>
                  </li>
                  <li class="pending"><span class="circle"></span>
                      <ul>
                          <li class="section">Section 5</li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                      </ul>
                  </li>
                  <li class="pending"><span class="circle"></span>
                      <ul>
                          <li class="section">Section 6</li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                      </ul>
                  </li>
                  <li class="pending"><span class="circle"></span>
                      <ul>
                          <li class="section">Section 7</li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                      </ul>
                  </li>
                  <li class="pending"><span class="circle"></span>
                      <ul>
                          <li class="section">Section 8</li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                          <li class="pending">
                              <span class="linkless"><span class="circle"></span> Pending Step</span>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>